#data-tile-wrapper {
    height: 350px;
    box-shadow: rgba(0,0,0,0.3) 0 2px 5px 0;
    border-radius: 0 0 4px 4px;
    background-color: white;
    padding:15px;
    position:relative
}
#data-tile-wrapper.advanced{
    height:680px;
    padding:15px;
}

#data-tile-wrapper.mapChart{
    padding:0;
    padding-top:15px;
}

#view-data, #slider_wrapper, #chart_footer_wrapper{
    background-color:#E7E7EB;
    height:40px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    position:absolute;
    bottom:0;
    color:#6F7C82;
    padding-top:10px;
    /*margin-left:-15px;*/
}
#view-data{
    left:0;
}
    #view-data:hover {
        background-color: #244068;
        color:white;
        text-decoration:underline;
    }

#chart_footer_wrapper {
    cursor:pointer;
    text-align:left;
    height:60px;
    padding: 20px 10px 10px 10px;
    width: 100%;
}

.chart_notices span {
    padding-right:10px;
}
#chart_controls label{
    font-size:.9em;
    padding-left:5px;
}

#chart_controls a {
    font-size:1.1em !important;
}

#chart-div{
    position:relative;
}
.graph {
    height: 310px;
    width: 100%;
    position: absolute;
}

#map-wrapper {
    position:relative;
}

#data-tile-wrapper.advanced .graph{
     height: 600px;
}

#data-tile-wrapper.mapChart .graph{
    height: 575px;
}

/*#slider_wrapper:before{
    clear:both;
}*/
#slider_wrapper
{
    height:60px;
    padding: 20px 40px 10px 65px;
    width: 100%;
}

#dateSlider
{
    display: inline-block;
    font-size: .8em;
    width:100%;
}

/*#play_wrapper
{
    float: left;
    margin: -8px 0 10px -45px;
}*/

    #play_wrapper button {
        color:#C34500;
        border-color:#C34500;
        position:absolute;
        top:15px;
        left:15px;
    }
/*#play
{
    display: none;
    background: #e6e6e6 url("") 50% 50% repeat-x;
}*/

#map-chart-wrapper {
    position:relative;
}

#map-view-wrapper{
    position:absolute;
    right:15px;
    top:0;
    z-index:10;
}
#map-controls {
    position: absolute;
    left:25px;
    top: 5px;
    z-index: 10;
}

#map-controls span{
    padding-right:5px;
    font-size:.8em;
    color:#6F7C82;
}
.full-zoom:hover {
    cursor:pointer;
    text-decoration:underline;
}
.map-chart {
    margin-top:30px;
}
.collection-icon-wrapper {
    position:absolute;
    top:-10px;
    right:-5px;
    z-index:100;
}
.mapChartDiv {
    padding: 0;
}

.map-chart-zoom-select {
    min-width:150px;
}

.selectedMapDrpDwn {
    border-left: solid 1px #6F7C82;
    padding-left:5px;
}
.zoomBtn {
    background-color:#C34500;
    color:white !important;
    padding:5px;
    border-radius:4px;
}
    .zoomBtn:hover {
        cursor: pointer;
        background-color: #893202;
    }
