#data-tile-wrapper {
    height: 350px;
    box-shadow: rgba(0,0,0,0.3) 0 2px 5px 0;
    border-radius: 0 0 4px 4px;
    background-color: white;
    /*padding:15px;*/
    padding:5px 15px 15px 15px;
    position:relative
}

.graph-chart-wrapper{
    margin-left:-15px;
    position:relative;
}
#data-tile-wrapper.advanced{
    height:680px;
    padding:15px;
}

#data-tile-wrapper.mapChart{
    padding:0;
    padding-top:15px;
}

#view-data, #slider_wrapper, #chart_footer_wrapper{
    background-color:#E7E7EB;
    height:40px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    position:absolute;
    bottom:0;
    color:#6F7C82;
    padding-top:10px;
    /*margin-left:-15px;*/
}
#view-data{
    left:0;
}
    #view-data:hover {
        background-color: #244068;
        color:white;
        text-decoration:underline;
    }

#chart_footer_wrapper {
    cursor:pointer;
    text-align:left;
    height:60px;
    padding: 20px 10px 10px 10px;
    width: 100%;
}

.chart_notices span {
    padding-right:10px;
}
#chart_controls {
     text-align:right;
}
#chart_controls label{
    font-size:.9em;
    padding-left:5px;
}

#chart_controls a {
    font-size:1.1em !important;
}

#chart-div{
    position:relative;
}
.graph {
    height: 310px;
    width: 100%;
    position: absolute;
}

.graph.custom{
    height:260px;
}

#map-wrapper {
    position:relative;
}

#data-tile-wrapper.advanced .graph{
     height: 600px;
}
#data-tile-wrapper.advanced .graph.custom{
     height: 580px;
}

#data-tile-wrapper.advanced .graph.drilldown{
     height: 600px;
     margin-top:-35px;
}

#data-tile-wrapper.mapChart .graph{
    height: 575px;
}

/*#slider_wrapper:before{
    clear:both;
}*/
#slider_wrapper
{
    height:60px;
    padding: 20px 40px 10px 65px;
    width: 100%;
}
#slider_wrapper.custom{
    margin-left:-15px;
}

#dateSlider
{
    display: inline-block;
    font-size: .8em;
    width:100%;
}

/*#play_wrapper
{
    float: left;
    margin: -8px 0 10px -45px;
}*/

    #play_wrapper button {
        color:#C34500;
        border-color:#C34500;
        position:absolute;
        top:15px;
        left:15px;
    }
/*#play
{
    display: none;
    background: #e6e6e6 url("") 50% 50% repeat-x;
}*/

#map-chart-wrapper {
    position:relative;
}

#map-view-wrapper{
    position:absolute;
    right:15px;
    top:0;
    z-index:10;
}
#map-view-wrapper.showMenuLeft {
    left:150px;
    right:0;
}
#map-controls {
    position: absolute;
    left:25px;
    top: 5px;
    z-index: 10;
}

#map-controls span{
    padding-right:5px;
    font-size:.8em;
    color:#6F7C82;
}
.full-zoom:hover {
    cursor:pointer;
    text-decoration:underline;
}
.map-chart {
    margin-top:30px;
}
.collection-icon-wrapper {
    position:absolute;
    /*top:-10px;
    right:-5px;*/
     top:1px;
    right:-15px;
    z-index:100;
}
.mapChartDiv {
    /*padding: 0;*/
}

.map-chart-zoom-select {
    min-width:150px;
}

.selectedMapDrpDwn {
    border-left: solid 1px #6F7C82;
    padding-left:5px;
}
.zoomBtn {
    background-color:#C34500;
    color:white !important;
    padding:5px;
    border-radius:4px;
}
    .zoomBtn:hover {
        cursor: pointer;
        background-color: #893202;
    }

.customChartTitle {
    font-size:15.5px;
    margin-top:15px;
    font-weight:200;
}
.placeSelectCustomChart {
    font-size:.8em;
    margin-left:15px;
    color:#6F7C82;
}
#showMOES {
    float:right;
}

.dd-cat-wrapper{
    position:absolute;
    z-index:10;
    width: 105%;
    padding-left:15px;
    text-align:right;

    /*margin-bottom:-15px;
    margin-left:10px;*/
}

.drillDownMsg{
    font-size:.9em;
    padding-left:21px;
    font-style:italic;
    position:relative;
    top:2px;
    text-align:right;
}

.dd-cat-select-wrapper{
    text-align:left;
    padding-left:0px;
    z-index:2000;
}

label.dropdown select {
	padding: 2px 16px 2px 2px;
	background: #F6F6F5;
	color: #C34500;
	border: 1px dotted #aaa;
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
    max-width:160px;
}

    label.dropdown select:hover {
        text-decoration:underline;
    }
label.dropdown select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #C34500;
}
label.dropdown select::-ms-expand {
	display: none;
}
label.dropdown:before {
	content: '';
	right: 5px;
	top: -7px;
	width: 16px;
	height: 20px;
	position: absolute;
	pointer-events: none;
	display: block;
}
label.dropdown { position: relative; }
label.dropdown:after {
	content: '<>';
	font: 16px Consolas, monospace;
	color: #C34500;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 2px;
	top: -6px;
	/*border-bottom: 1px solid #aaa;*/
	position: absolute;
	pointer-events: none;
	width: 16px;
	padding: 0 0 2px 0;
	text-indent: 7px;
}

@media only screen and (max-width : 720px) {
    #showMOEs {
        font-size: .8em;
    }

    #data-tile-wrapper {
       padding:5px;
    }
    #data-tile-wrapper.featured{
        padding:5px;
        /*margin-left:-20px;*/
    }
    .collection-icon-wrapper{
        /*top:-5px;*/
        right:-7px;
    }

    #data-tile-wrapper.mapChart .graph{
        height:325px;
    }

     #data-tile-wrapper.advanced .graph-chart {
         height:375px;
     }

     #data-tile-wrapper .graph-chart.custom {
         height:250px;
     }

     #data-tile-wrapper.advanced .graph-chart.custom {
         height:350px;
     }
     #data-tile-wrapper.advanced .graph-chart.drilldown {
         height:300px;
     }


    #data-tile-wrapper.advanced .customPlaceSelectWrapper {
        margin-left:15px;
    }

    #slider_wrapper.custom{
        margin:auto;
    }

    #data-tile-wrapper.advanced{
        height:435px;
        margin-bottom:15px;
        padding:15px 0 10px 0;
    }
    #map-controls{
        top:0;
        left:15px;
    }
    .selectedMapDrpDwn{
        display:block;
        border-left:none;
    }

    #chart_footer_wrapper{
        left:15px;
    }

    .chart_notices {
        padding:0;
        font-size:.8em;
    }
}