<div id="collections-wrapper" class="row">
    <div class="col-lg-12">
        <h2>Collections</h2>
        <br />
        <p>
            These collections contain indicators specially selected by the Rural Communities Explorer team and partners to represent key issues of concern to decision makers. In each collection you'll find a suite of social, economic, demographic, and sometimes environmental data tailored to the themes the RCE team and our partners identified. All of the indicators in each collection are available in the full Communities Reporter Tool, but the collection gives you the opportunity to see only those indicators without having to wade through all of the other indicators housed within the tool.
        </p>

        <h3>Latinos in Oregon</h3>
        <div class="indent-right">

            <p>
                The Latinos in Oregon collection tracks a set of 18 metrics about Latinos, compared to the total population in Oregon. Use these data to learn and inform others about the status of Latinos across the state.
            </p>
            <p>
                These 18 indicators are a sub-set of the 89 Tracking Oregon's Progress indicators that were selected to reflect state priorities as expressed in the Oregon Benchmarks, the 10-Year Plan (Governor Kitzhaber, 2013), and the State of Our Health 2013: Key Health Indicators for Oregonians report by Oregon Health & Science University and Portland State University. Additional indicators were selected to reflect trends in social science research, to illuminate issues of disparities and equity, and in response to requests from organizations serving Latinos.
            </p>
            <p>
                The <a href="http://www.oregoncf.org/" target="_blank">Oregon Community Foundation</a>, <a href="http://extension.oregonstate.edu/fch/" target="_blank">Oregon State University Extension - Family & Community Health</a>, <a href="http://inr.oregonstate.edu/" target="_blank">Institute for Natural Resources</a>, and <a href="http://library.oregonstate.edu/" target="_blank">Oregon State University Libraries and Press</a> partnered to complete the Latinos in Oregon collection.
            </p>
            <div class="downloads">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download" href="http://www.oregoncf.org/Templates/media/files/reports/latinos_in_oregon_report_2016.pdf" target="_self">
                        <b>Download</b> State
                        TOP report (2016): Latinos in Oregon
                    </a>
                    <br />
                </span>
            </div>
        </div>
        <h3>Tracking Oregon's Progress</h3>
        <div class="indent-right">
            <p>
                The TOP Indicators project tracks a key set of 89 metrics from 1990 on, across all counties in the state.
            </p>
            <p>
                The indicators were selected to reflect state priorities as expressed in the Oregon Benchmarks and the 10-year Plan (Governor Kitzhaber, 2013). Additional indicators were added based on their inclusion in the State of Our Health 2013: Key Health Indicators for Oregonians report by Oregon Health & Science University and Portland State University. A small number of additional indicators were selected to reflect trends in social science research and to illuminate issues of disparities and equity.
            </p>
            <p>
                The <a href="http://www.oregoncf.org/" target="_blank">Oregon Community Foundation</a>, <a href="http://extension.oregonstate.edu/fch/" target="_blank">Oregon State University Extension - Family & Community Health</a>, <a href="http://inr.oregonstate.edu/" target="_blank">Institute for Natural Resources</a>, and <a href="http://library.oregonstate.edu/" target="_blank">Oregon State University Libraries and Press</a> partnered to complete the Tracking Oregon's Progress project.
            </p>
            <div class="downloads">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download" href="http://oe.oregonexplorer.info/externalcontent/rural/TOP_Indicators_Oregon_2015_FINAL.pdf" target="_self">
                        <b>Download</b> State
                        TOP report (2015):  A focus on income inequality
                    </a>
                    <br />
                </span>
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download" href="http://oe.oregonexplorer.info/externalcontent/rural/TOP_Indicators_Oregon_2_3_14v13HI.pdf" target="_self"><b>Download</b> State TOP Report (2014)</a>
                    <br />
                </span>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
