<div id="collections-wrapper" class="row">
    <div class="col-lg-12">
        <h2>Collections</h2>
        <br />
        <p>
            These collections contain indicators specially selected by the Rural Communities Explorer team and partners to represent key issues of concern to decision makers. In each collection you'll find a suite of social, economic, demographic, and sometimes environmental data tailored to the themes the RCE team and our partners identified. All of the indicators in each collection are available in the full Communities Reporter Tool, but the collection gives you the opportunity to see only those indicators without having to wade through all of the other indicators housed within the tool.
        </p>
        <h2><a [routerLink]="[baseHREF + '/Explore',{collection:'Latinos in Oregon'}]">Latinos in Oregon</a></h2>

        <div class="indent-right">
            <p><a [routerLink]="[baseHREF + '/Explore',{collection:'Latinos in Oregon'}]">Go to Latinos in Oregon Collection -></a></p>

            <p>
                The Latinos in Oregon collection tracks a set of 18 metrics about Latinos, compared to the total population in Oregon. Use these data to learn and inform others about the status of Latinos across the state.
            </p>
            <p>
                These 18 indicators are a sub-set of the 89 Tracking Oregon's Progress indicators that were selected to reflect state priorities as expressed in the Oregon Benchmarks, the 10-Year Plan (Governor Kitzhaber, 2013), and the State of Our Health 2013: Key Health Indicators for Oregonians report by Oregon Health & Science University and Portland State University. Additional indicators were selected to reflect trends in social science research, to illuminate issues of disparities and equity, and in response to requests from organizations serving Latinos.
            </p>
            <p>
                The <a href="https://www.oregoncf.org/" target="_blank">Oregon Community Foundation</a>, <a href="https://extension.oregonstate.edu/fch/" target="_blank">Oregon State University Extension - Family & Community Health</a>, <a href="https://inr.oregonstate.edu/" target="_blank">Institute for Natural Resources</a>, and <a href="https://library.oregonstate.edu/" target="_blank">Oregon State University Libraries and Press</a> partnered to complete the Latinos in Oregon collection.
            </p>
            <div class="downloads">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download" href="https://www.oregoncf.org/Templates/media/files/reports/latinos_in_oregon_report_2016.pdf" target="_self">
                        <b>Download</b> State
                        TOP report (2016): Latinos in Oregon
                    </a>
                    <br />
                </span>
            </div>
        </div>
        <h2><a [routerLink]="[baseHREF + '/Explore',{collection:'Tracking Oregon%27s Progress'}]">Tracking Oregon's Progress</a></h2>

        <div class="indent-right">
            <p>
                <a [routerLink]="[baseHREF + '/Explore',{collection:'Tracking Oregon%27s Progress'}]">Go to Tracking Oregon's Progress Collection -></a>
            </p>
            <p>
                The TOP Indicators project tracks a key set of 89 metrics from 1990 on, across all counties in the state.
            </p>
            <p>
                The indicators were selected to reflect state priorities as expressed in the Oregon Benchmarks and the 10-year Plan (Governor Kitzhaber, 2013). Additional indicators were added based on their inclusion in the State of Our Health 2013: Key Health Indicators for Oregonians report by Oregon Health & Science University and Portland State University. A small number of additional indicators were selected to reflect trends in social science research and to illuminate issues of disparities and equity.
            </p>
            <p>
                The <a href="https://www.oregoncf.org/" target="_blank">Oregon Community Foundation</a>, <a href="https://extension.oregonstate.edu/fch/" target="_blank">Oregon State University Extension - Family & Community Health</a>, <a href="https://inr.oregonstate.edu/" target="_blank">Institute for Natural Resources</a>, and <a href="https://library.oregonstate.edu/" target="_blank">Oregon State University Libraries and Press</a> partnered to complete the Tracking Oregon's Progress project.
            </p>
            <div class="downloads">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download" href="https://www.oregoncf.org/Templates/media/files/research/top_report_2017.pdf" target="_self">
                        <b>
                            State TOP report (2017):
                        </b>
                        <small>Closing the Opportunity Gap for Oregon's Kids</small>
                    </a>

                </span>
                <br /><br />
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download_archive" href="https://www.oregoncf.org/Templates/media/files/reports/latinos_in_oregon_report_2016.pdf" target="_self">
                        <b>
                            State TOP report (2016):
                        </b>
                        <small>Latinos in Oregon</small>
                    </a>
                </span>
                <br />
                <br />
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download_archive" href="https://oe.oregonexplorer.info/externalcontent/rural/TOP_Indicators_Oregon_2015_FINAL.pdf" target="_self">
                        <b>
                            State TOP report (2015):
                        </b>
                        <small>A focus on income inequality</small>
                    </a>
                </span>
                <br /><br />
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download_archive" href="https://oe.oregonexplorer.info/externalcontent/rural/TOP_Indicators_Oregon_2_3_14v13HI.pdf" target="_self"><b>  State TOP Report (2014)</b></a>
                </span>
            </div>
        </div>
        <h2><a [routerLink]="[baseHREF + '/Explore',{collection:'Community Food Systems'}]" >Community Food Systems</a></h2>

        <div class="indent-right">
            <p><a [routerLink]="[baseHREF + '/Explore',{collection:'Community Food Systems'}]" >Go to Community Food Systems Collections -></a></p>
            <p>
                The Community Food Systems collection tracks a set of 53 metrics spanning the food system, from production to consumption, throughout Oregon at the state and county level. Community food systems consider the functional aspects of a food system (growing, harvesting, processing, packaging, transporting, marketing, consuming, and disposal) with the goal of enhancing environmental, economic, and social health.
            </p>
            <p>
                Many of these indicators were originally developed for the Oregon Community Food Systems Network by Matthew Buck, funded by the Meyer Memorial Trust. These indicators support the efforts of people and organizations coming together to evaluate and change aspects of the food system by facilitating common understanding of issues and shared goals within community food systems movements.
            </p>
            <p>
                The <a href="https://www.tfff.org/" target="_blank">Ford Family Foundation</a>, the <a href="https://ocfsn.net/" target="_blank">Oregon Community Food Systems Network</a>, the <a href="https://centerforsmallfarms.oregonstate.edu/" target="_blank">Oregon State University Center for Small Farms & Community Food Systems</a>, <a href="https://extension.oregonstate.edu/fch/" target="_blank">Oregon State University Extension - Family & Community Health</a>, <a href="https://inr.oregonstate.edu/" target="_blank">Institute for Natural Resources</a>, and <a href="https://library.oregonstate.edu/" target="_blank">Oregon State University Libraries and Press</a> partnered to complete the Community Food Systems collection.
            </p>
            <div class="downloads">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span>
                    <a class="a_top_download" href="https://centerforsmallfarms.oregonstate.edu/sites/centerforsmallfarms.oregonstate.edu/files/introtocfsindicators_may2018.pdf" target="_self">
                        <b>Download</b> CFS Indicators for Oregon: An Introduction (2018)
                    </a>
                    <br />
                </span>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
