<div *ngIf="!indicatorDetailView" id="explore-page" (click)="onBlurExplorePage($event);" (popstate)="onPopState($event);" class="page_wrapper explore-page col-xs-12">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="row">
            <search [viewType]="'explore'" class="col-lg-12 col-md-12 col-xs-12" (selSearchResultEvt)="selectedSearchResult = onSelectedSearchResult($event)"></search>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <topics (selectedTopicsFromComp)="selectedTopics = onGetSelectedTopicsFromComp($event)" (selectedIndicatorsFromComp)="selectedIndicators = onGetSelectedIndicatorsFromComp" (allTopicsFromComp)="onGetAllTopicsFromComp($event)" (allIndicatorsFromComp)="onGetAllIndicatorsFromComp($event)" (selectedCollectionsFromComp)="selectedCollections = onGetSelectedCollectionsFromComp($event)" (hideAllFromComp)="onHideAll($event)" inputTopics={{selectedTopics}} inputIndicators="{{selectedIndicators}}" inputCollection={{urlCollection}} inputFilter="{{urlFilter}}"expanded="{{showTopicsExpanded}}"></topics>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <places [inputPlaces]="selectedPlaces" expanded="{{showPlacesExpanded}}"></places>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <data [inputTopics]="allTopics" [inputIndicators]="allIndicators" [collections]="collections" [inputPlaces]="selectedPlaces" [_hideAll]="hideAll"></data>
        </div>
    </div>
</div>
<indicator-detail *ngIf="indicatorDetailView" [inputIndicator]="selectedIndicator" [inputPlaces]="selectedPlaces" [collections]="collections" [selectedDDCategory]="drillDownCategory"></indicator-detail>