<div id="find-collections-wrapper" class="row">
    <div id="find-collections" class="col-xs-12">
        <h2>Featured Collections</h2>
        <div class="featured-collection-wrapper col-lg-4 col-md-6 col-xs-12" *ngFor="let item of items | async">
            <div class="featured-collection row">
                <div class="col-centered" (click)="gotoCollection(item.collection_name)">
                    <h3>{{item.collection_name}}</h3>
                    <img src="{{item.collection_image_path}}" />
                    <p class="feat-col-desc">{{item.collection_desc}}</p>
                    <a *ngIf="item.collection_name !== 'Partner with us'" [routerLink]="['/Explore', {collection:item.collection_name}]">Explore {{item.collection_name}} Data<span class="oe-more glyphicon glyphicon-menu-right"></span></a>
                    <a *ngIf="item.collection_name === 'Partner with us'" href="mailto:vince.adams@oregonstate.edu?subject=Interested in partnering for a Featured Collection on the Communities Reporter Tool">Email our Outreach Coordinator for more information<span class="oe-more glyphicon glyphicon-menu-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>