<div class="row place-select" [ngClass]="setClasses('')">
    <div [ngClass]="setClasses('MapCol')">
        <div class="row row-map">
            <div class="col-xs-12">
                <div id="viewDiv" [ngClass]="setClasses('Map')">
                    <leaflet-map [visible]="isVisible" [selectedPlaces]="selectedSearchResults" (onPlaceSelected)="onPlaceSelectedMap($event)" [viewType]="viewType"></leaflet-map>
                    <!--<esri-map [options]="mapOptions" (mapLoaded)="onMapLoad($event)">
                        <esri-search [options]="searchOptions"></esri-search>
                    </esri-map>-->
                </div>
            </div>
        </div>
    </div>
    <div id="find-compare-combine" [ngClass]="setClasses('FindCombComp')">
        <div class="row">
            <div class="col-xs-12">
                <h2>Find, Compare and Combine Communities</h2>
                <p>
                    Select communities by clicking the map or typing below.
                    Drag one community onto another to combine selected communities.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-xs-12" id="search-bin">
                <div class="row">
                    <div id="search" class="col-lg-12 col-md-12 col-xs-12">
                        <span class="fa fa-search"></span>
                        <input [(ngModel)]="searchTerms" #searchInput type="text" [(ngFormControl)]="term" placeholder="Type in a place name." (click)="inputSearchClickHandler($event, result);" (blur)="blurHandler($event);" (keypress)="inputKeypressHandler($event, result);" />
                        <div id="add-btn">+</div>
                        <div *ngIf="searchTerms" class="list-group">
                            <a *ngFor="let result of searchResults | async" href="javascript:void(0);" class="list-group-item" [attr.data-search-item]="result | json" (keypress)="inputKeypressHandler($event, result)" (click)="clickedSearchResult($event, result)">
                                <div class="search-result-wrapper">
                                    <!--<div class="isPlace search-result-type">
                                        {{result.Type}}
                                    </div>-->
                                    <div class="search-result-content">
                                        <div class="search-result-name">
                                            <span>{{result.Name}}</span>
                                            <span *ngIf="result.TypeCategory" class="typeCategory">({{result.TypeCategory}})</span>
                                        </div>
                                        <div *ngIf="result.Desc" class="search-result-desc" [innerHTML]="result.Desc.split('~').length > 1 ? result.Desc.split('~')[1] : ''">
                                        </div>
                                        <div>
                                            <span *ngIf="result.Desc" class="glyphicon glyphicon-flag ct-tag-flag">
                                            </span>
                                            <span *ngIf="result.Desc" class="ct-tag">
                                                <b *ngIf="result.Desc.split('~').length > 0">Data shown for {{result.Desc.split('~')[0]}}</b>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="selected-places-bin" class="col-lg-12 col-md-12 col-xs-12">
                        <div class="row">
                            <div #placeContainer class="col-lg-4 col-md-6 col-xs-12 place-bin-wrapper" *ngFor="let place of selectedSearchResults; let idx = index;" [attr.orig_container]="translatePlaceTypes(place.TypeCategory,place.Name)" [attr.editView]="false">
                                <div class="placePanelWrapper" [ngClass]="placeContainer.getAttribute('editView') === 'true' ? 'editPanel' : ''">
                                    <div *ngIf="dragBin.getElementsByClassName('place-bin').length > 1 && placeContainer.getAttribute('editView') === 'true'">
                                        <div title="Set combined settings." class="editHeader" (click)="updateCustomSetName(dragBin, placeContainer, inpPlace)">
                                            <span class="editPanelHeading">Edit Combined</span><span class="glyphicon glyphicon-check spanCheck">&nbsp;</span>
                                        </div>
                                        <input #inpPlace type="text" placeholder="Enter a name for custom group" (keypress)="onCombineLabelKeyPress($event, dragBin, placeContainer, inpPlace)" value="{{place.GroupName}}" (click)="inpPlace.value = ''" />
                                    </div>
                                    <div *ngIf="dragBin.getElementsByClassName('place-bin').length > 1 && placeContainer.getAttribute('editView') === 'false'" title="Edit combined communities" class="combinedLabel" (click)="placeContainer.setAttribute('editView','true')">
                                        {{place.GroupName}}
                                        <span class="glyphicon glyphicon-edit">&nbsp;</span>
                                    </div>
                                    <!--<div #dragBin [hidden]="place.Combined && placeContainer.getAttribute('editView') === 'false'" [dragula]="translatePlaceTypes(place.TypeCategory)" [attr.groupname]="translatePlaceTypes(place.TypeCategory,place.Name)">-->
                                    <div #dragBin [hidden]="(place.Combined && placeContainer.getAttribute('editView') === 'false') || (!place.Combined && placeContainer.getAttribute('editView') === 'true')"
                                         [dragula]="translatePlaceTypes(place.TypeCategory)"
                                         class="dragBin"
                                         [attr.dragBag]="translatePlaceTypes(place.TypeCategory)"
                                         [attr.groupname]="(place.Combined && place.GroupName && place.GroupName !== '') ? place.GroupName : 'Custom Set ' + translatePlaceTypes(place.TypeCategory) + ' ' +customSetCounter">
                                        <div #placeBin [attr.placeName]="place.Name"
                                             [attr.placeResID]="place.ResID"
                                             [attr.placeType]="place.TypeCategory"
                                             [attr.combined]="place.Combined"
                                             class="place-bin"
                                             [ngClass]="place.Combined ? 'combinedPlaces' : ''">
                                            {{place.Name}}
                                            <span (click)="removePlace(place, placeBin, dragBin, placeContainer)"><img src="assets/img/closeX2.png" alt="remove selected place" />&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="place-btn-col" class="col-lg-2 col-md-2 col-xs-12">
                <div class="row">
                    <div (click)="addPlaceCompare('Rural')" class="add-place-btn col-xs-4 col-md-12">Rural<span>+</span></div>
                    <div (click)="addPlaceCompare('Urban')" class="add-place-btn col-xs-4 col-md-12">Urban<span>+</span></div>
                    <div id="go-report-button" class="col-xs-4 col-md-12"> Go </div>
                </div>
            </div>
        </div>
    </div>
</div>