    <div id="top_main">
        <div id="top_bar">
        </div>
        <div id="top_mid_bar">
            <div id="sp_generate">
                <span>
                    <b>Generate</b> a TOP county indicator report
                    <img src="./assets/img/arrow.png" alt="arrow image" />
                </span>
            </div>
            <div id="sp_get_started">
                <img src="./assets/img/btn_get_started.png" alt="launch Communities Reporter with TOP Indicators"
                     onmouseover="this.src='./assets/img/btn_get_started_hover.png'" onmouseout="this.src='./assets/img/btn_get_started.png'" (click)="gotoTop();" />
            </div>
            <div>
                <img src="./assets/img/download_icon.png" alt="download image" id="img_download_icon" />
            </div>
            <div class="downloads">
                <span>
                    <a class="a_top_download" href="https://www.oregoncf.org/Templates/media/files/research/top_report_2017.pdf" target="_self"><b>State
                    TOP report (2017)</b></a>
                    <br />
                    <small>Closing the Opportunity Gap for Oregon's Kids</small>
                    <br />
                    <a class="a_top_download_archive" href="https://www.oregoncf.org/Templates/media/files/reports/latinos_in_oregon_report_2016.pdf" target="_self"><b>State
                    TOP report (2016)</b></a>
                     <!--<br />
                    <small>Latinos in Oregon</small>-->
                    <br />
                    <a class="a_top_download_archive" href="https://oe.oregonexplorer.info/externalcontent/rural/TOP_Indicators_Oregon_2015_FINAL.pdf" target="_self"><b>State
                    TOP report (2015)</b></a>
                     <!--<br />
                    <small>A focus on income inequality</small>-->
                    <br />
                    <a class="a_top_download_archive" href="https://oe.oregonexplorer.info/externalcontent/rural/TOP_Indicators_Oregon_2_3_14v13HI.pdf" target="_self"><b>State TOP Report (2014)</b></a>
                    <br />
                </span>
            </div>
            <div class="clearBoth"></div>
        </div>
        <div id="top_content">
            <div>
                <h2>About <b>TOP</b></h2>
                <p>
                    The TOP Indicators project tracks a key set of 89 metrics from 1990 to 2013 across
                    all counties in the state.
                </p>
                <p>
                    The indicators were selected to reflect state priorities as expressed in the Oregon Benchmarks and the 10-year Plan (Governor Kitzhaber, 2013). Additional indicators were added based on their inclusion in the State of Our Health 2013: Key Health Indicators for Oregonians report by Oregon Health & Science University and Portland State University. A small number of additional indicators were selected to reflect trends in social science research and to illuminate issues of disparities and equity.
                </p>
                <p id="p_more" onclick="document.getElementById('about_more').style.display = 'block'; this.style.display = 'none';">
                    <img src="./assets/img/arrow_down.gif" />
                    more...
                </p>
                <p id="about_more" style="display: none">
                    The <a href="https://www.oregoncf.org/" target="_blank">Oregon Community Foundation </a>, <a href="https://ruralstudies.oregonstate.edu/" target="_blank">Oregon Rural Studies Program</a>, <a href="https://oregonstate.edu/inr" target="_blank">Institute for Natural Resources</a>, and <a href="https://library.oregonstate.edu" target="_blank">Oregon State University Libraries and Press</a> partnered to complete the Tracking Oregon’s Progress project.
                </p>
            </div>
            <div>
                <h2>Who is <b>TOP</b> for?</h2>
                <p>
                    TOP Indicators suggest areas of progress and challenges. They highlight statewide
                    trends as well as local variability. These data can help decision makers identify
                    priorities and track progress.
                </p>
                <p>
                    Tracking Oregon’s Progress Indicators are for state and local decision makers, such
                    as: state legislators, county officials, philanthropies, non-profit professionals,
                    state agency professionals, educators, and businesses.
                </p>
            </div>
        </div>
        <div class="clearBoth"></div>
        <div id="top_bottom_bar">
            <div>
                <a href="https://www.oregoncf.org/" target="_blank">
                    <img src="./assets/img/ocf.png" alt="Oregon Community Foundation" />
                </a>
            </div>
            <div class="sponsor_bar_1">
                <a href="https://oregonstate.edu" target="_blank">
                    <img src="./assets/img/osu.png" alt="Oregon State University" />
                </a>
            </div>
            <div class="sponsor_bar_1">
                <img src="./assets/img/osu_units.png" alt="Oregon State Units" />
            </div>
            <div>
                <a href="https://oregonstate.edu/inr/" target="_blank">
                    <img src="./assets/img/inr.png" alt="Institute for Natural Resources" />
                </a>
            </div>
            <div>
                <a href="https://www.tfff.org/" target="_blank">
                    <img src="./assets/img/fordfamily.png" alt="The Ford Family Foundation" />
                </a>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
