<div id="indicator-detail-wrapper" (click)="onBlurExplorePage($event);">
    <div class="row">
        <div class="col-xs-12">
            <div class="find_header row">
                <div class="col-xs-12" (click)="toggleCommunitiesWrapper()">
                    <header class="find_header_content">
                        <div class="back-btn" (click)="goBack($event);">Back</div>
                        <div *ngIf="!isMobile" class="title">Change Community Selection</div>
                        <div class="toggle-communities">
                            <div [ngClass]="getClass()" aria-hidden="true"></div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!visible" class="row">
        <div class="col-xs-12 data-detail-map-wrapper">
            <places-map-select [selectedPlaceType]="selectedPlaceType" [viewType]="'indicatorDetail'" [selectedPlaces]="urlPlaces"></places-map-select>
        </div>
    </div>
    <div class="row">
        <search [viewType]="'explore'" [filterType]="'Indicator'" class="col-lg-12 col-md-12 col-xs-12" (selSearchResultEvt)="selectedSearchResult = onSelectedSearchResult($event)"></search>
    </div>

    <div class="row" id="toggleViewRow">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="row">
                <div *ngIf="!isStatewide && !isCustomChart" class="col-xs-4 toggleView" (click)="setToggleView('map')">
                    <span class="toggleViewIcn" [ngClass]="showMap ? 'viewSelected' : ''"></span>
                    <span [innerHTML]="isMobile ? 'Map' : 'Map View'"></span>
                </div>
                <div *ngIf="!isTextData" class="col-xs-4 toggleView" (click)="setToggleView('graph')">
                    <span class="toggleViewIcn" [ngClass]="showGraph ? 'viewSelected' : ''"></span><span [innerHTML]="isMobile ? 'Graph' : 'Graph View'"></span>
                </div>
                <div class="col-xs-4 toggleView" (click)="setToggleView('table')">
                    <span class="toggleViewIcn" [ngClass]="showTable ? 'viewSelected' : ''"></span>
                    <span [innerHTML]="isMobile ? 'Table' : 'Table View'"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 hidden-sm hidden-xs">
            <div id="data-detail-help" (click)="showToolTips()"><span class="fa fa-question"></span></div>
        </div>
    </div>
    <div id="detail-data-view-wrapper" class="row">
        <div class="col-xs-12">
            <div class="row">
                <indicator-title [indicatorData]="indicatorData" [isStatewide]="isStatewide"
                    [isMobile]="isMobile" [isCountyLevel]="isCountyLevel" [showShare]="true"
                    (drillDownOutput)="onDrilldownOutput($event)"
                    (indicatorChange)="onDDIndicatorChange($event)"
                    (onDownloadClick)="onDownloadClick($event)"></indicator-title>
            </div>
            <div class="row">
                <div *ngIf="!isStatewide && !isCustomChart" [ngClass]="!showGraph || isTextData ? 'col-xs-12': 'col-lg-6 col-md-6 col-xs-12'">
                    <div #mapView class="detail-tile map-chart" [hidden]="!showMap">
                        <!--MAP VIEW-->
                        <data-tile [indicator]="inputIndicator" (onSelectedYearChange)="onSelectedYearChange($event)" (onChartDataUpdate)="chartData = onChartDataUpdate($event)" [tileType]="'map'" [viewType]="'advanced'"></data-tile>
                    </div>
                </div>
                <div *ngIf="!isTextData" [ngClass]="!showMap || isStatewide || isCustomChart ? 'col-xs-12': 'col-lg-6 col-md-6 col-xs-12'">
                    <div #graphView class="detail-tile" [hidden]="!showGraph">
                        <!--GRAPH VIEW-->
                        <data-tile [indicator]="inputIndicator" [tileType]="'graph'" class="" [_selectedYear]="selectedYear" [collections]="collections" (onChartDataUpdate)="chartData = onChartDataUpdate($event)" [viewType]="'advanced'" [drillDowns]="drillDowns" [drillDownCategories]="drillDownCategories"></data-tile>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="tableView" #tableView [hidden]="!showTable">
                        <!--TABLE VIEW-->
                        <div *ngIf="(showMap && !isStatewide) || showGraph" class="row">
                            <div class="col-lg-12 table-title">
                                <div>
                                    <h2 [innerHTML]="indicatorTitle"></h2>
                                </div>
                                <div class="subtitle">
                                    &nbsp;
                                    <span>{{subTitle !== '' ? '('+subTitle+')' : '&nbsp;'}}</span>
                                    <span *ngIf="isStatewide || isCountyLevel" class="data-flag">
                                        <span class="glyphicon glyphicon-flag"></span>
                                        {{isStatewide ? isMobile ? 'Statewide data' : ' Data only available Statewide ' : isCountyLevel ? isMobile ? 'County level data' : ' Data only available at the County level ' : ''}}
                                    </span>
                                </div>

                            </div>
                        </div>
                        <table-view [chartData]="_chartData"></table-view>
                    </div>
                </div>
            </div>
           <indicator-footer [indicatorDesc]="indicatorDesc"></indicator-footer>
        </div>
    </div>
</div>

