#indicator-detail-wrapper{
    background-color:#F6F6F5
}

.data-detail-map-wrapper {
    height: 400px;
    max-height: 400px;
}

#toggleViewRow {
    margin: 20px auto;
    height: 50px;
    max-width: 1170px;
    border-bottom: 1px solid #D1CDC7;
}

#detail-data-view-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
}

#indicator-title-wrapper {
    margin-top:-25px;
}
#tableView{
    margin:30px 15px 0 -15px;
}

.toggleView {
    border-right: 1px solid #D1CDC7;
}

    .toggleView:nth-child(3) {
        border-right: none;
    }

    .toggleView > span {
        /*line-height: 30px;*/
        vertical-align: middle;
        color: #C34500;
        cursor: pointer;
        padding-bottom: 3px;
    }

    .toggleView:hover {
        text-decoration: underline;
        color: #C34500;
    }

.toggleViewIcn {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #D1CDC7;
    margin-right: 13px;
}

    .toggleViewIcn.viewSelected {
        background-image: url('assets/img/icn-view.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: #244068;
        border: none;
    }

    .toggleViewIcn:hover {
        border: 1px solid #244068;
    }

#data-detail-help {
    float: right;
    color:rgb(128, 128, 128);
}

    #data-detail-help:hover {
        cursor:pointer;
    }

#share-btns div {
    display: inline-block;
    margin-left: 6px;
    border: solid 1px #D1CDC7;
    border-radius: 4px;
    background-color: #F3F2ED;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
    float: right;
}

.data-flag {
    padding-left:20px;
    color:rgba(195, 69, 0, 0.67);
}

.detail-tile:nth-child(1) {
    padding-right: 30px;
}

.find_header_content {
    max-width: 1170px;
    margin: 0 auto;
}

.find_header {
    height: 50px;
    margin: 0 auto;
    background-color: #244068 !important;
    color: white;
    cursor: pointer;
}

    .find_header .title {
        padding: 15px;
        float: right;
        color: #D1CDC7;
    }

    .find_header .toggle-communities {
        float: right;
        margin: 10px;
        height: 30px;
        width: 30px;
        background-color: rgba(255,255,255,.30);
        border-radius: 4px;
        padding: 4px;
    }

.toggle-communities .glyphicon {
    padding: 4px;
}

.back-btn {
    background-color: #C34500;
    float: left;
    padding: 6px 25px;
    border-radius: 4px;
    margin-top: 10px;
    position: relative;
    z-index:1000;
}

    .back-btn:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .back-btn:after {
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        content: '\\e257';
        font-size: 14px;
        color: white;
        width: 30px;
        height: 25px;
        pointer-events: none;
        position: absolute;
        top: 5px;
        left: 8px;
    }

    #indicator-list-header {
    width: 90%;
    min-height:30px;
    z-index: 1002;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-left:17px;
    padding-left:10px;
    position:absolute;
    top:40px;
    left:17px;
    background:#D1CDC7;
    padding:4px 10px 4px 45px;
    color:#244068;
}


#indicator-list{
    width: 90%;
    max-height: 300px;
    overflow: auto;
    z-index: 1001;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    margin-left:17px;
    padding-left:10px;
    position:absolute;
    top:70px;
    left:17px;
}

#indicator-info {
    padding: 10px 20px;
    font-size: .8em;
    color: #C34500;
}

    #indicator-info span {
        /*padding: 20px 40px;*/
        text-align:center;
    }

        #indicator-info span:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        #indicator-info span.selected {
            color:rgb(128, 128, 128);
            /*text-decoration:underline;*/
        }

#indicator-info-content {
    min-height: 40px;
    margin-top: 10px;
    font-size: .8em;
    color:rgb(128, 128, 128);
    margin-bottom:20px;
}

.arrow_box {
    position: relative;
    border-bottom: 1px solid  #D1CDC7; /*rgb(128, 128, 128);*/
}

    .arrow_box:after, .arrow_box:before {
        top: 100%;
        /*left: 195px;*/
        left: 50%;
        border: solid transparent;
        content: " ";
        background: none;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box.desc:after, .arrow_box.desc:before {
        /*left: 65px;*/
        left: 17.5%;
    }

    .arrow_box.other:after, .arrow_box.other:before {
        /*left: 330px;*/
        left: 82.5%;
    }

    .arrow_box:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #F6F6F5;
        border-width: 8px;
        margin-left: -8px;
    }

    .arrow_box:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color:  #D1CDC7; /*rgb(128, 128, 128);*/
        border-width: 9px;
        margin-left: -9px;
    }


    .data-tile-grid {
    padding: 30px;
}

    .table-title{
        padding-left:30px;
    }

    #data-control-bar {
    position: absolute;
    top: 27px;
    right: 15px;
    z-index: 2000;
    height: 50px;
}

    #data-control-bar div {
        display: inline-block;
    }

    #map-graph-toggle {
    margin-left: 20px;
}

    #map-graph-toggle div {
        border: solid 1px #D1CDC7;
        border-radius: 4px;
        background-color: #F3F2ED;
        text-align: center;
        padding: 4px 12px;
        font-weight: bold;
        color: #D1CDC7;
        height: 30px;
    }

        #map-graph-toggle div:nth-child(1) {
            border-radius: 4px 0 0 4px;
            margin-right: -3px;
        }

        #map-graph-toggle div:nth-child(2) {
            border-radius: 0 4px 4px 0;
        }

        #map-graph-toggle div:hover {
            cursor: pointer;
        }

        #map-graph-toggle div.selected {
            background-color: #D1CDC7;
            color: white;
        }

#related-indicators-wrapper {
    border-top:solid 1.25px #D1CDC7;
    margin-top:40px;
}

.subtitle{
    font-size:1.1em;
    color:rgb(128, 128, 128);
    font-style:italic;
    margin: -7px 0 10px 5px;
}

#no-rel-ind-buffer {
    min-height:50px;
}

.ddCategories{
    margin-top: -2em;
}
/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"] + span {
    display: block;
    font-weight:lighter;
    color:#C34500;
}

    /* the basic, unchecked style */
    [type="radio"] + span:before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: -0.25em;
        border-radius: 1em;
        border: 0.125em solid #fff;
        box-shadow: 0 0 0 0.15em #D1CDC7;
        margin-right: 0.75em;
        -moz-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
    background: #C34500;
    box-shadow: 0 0 0 0.25em #D1CDC7;
}

    [type="radio"]:checked + span {
        color:#6F7C82;
    }

label.dropdown select {
	padding: 10px 42px 10px 10px;
	background: #F6F6F5;
	color: #C34500;
	border: 1px dotted #aaa;
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
}

    label.dropdown select:hover {
        text-decoration:underline;
    }
label.dropdown select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #C34500;
}
label.dropdown select::-ms-expand {
	display: none;
}
label.dropdown:before {
	content: '';
	right: 5px;
	top: -7px;
	width: 30px;
	height: 33px;
	position: absolute;
	pointer-events: none;
	display: block;
}
label.dropdown { position: relative; }
label.dropdown:after {
	content: '<>';
	font: 30px Consolas, monospace;
	color: #C34500;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 2px;
	top: -6px;
	/*border-bottom: 1px solid #aaa;*/
	position: absolute;
	pointer-events: none;
	width: 34px;
	padding: 0 0 5px 0;
	text-indent: 14px;
}
/*@media screen\0 {
	label.dropdown:after {
		width: 38px;
		text-indent: 15px;
        right: 0;
	}
}
@media screen and (min--moz-device-pixel-ratio:0) {
	label.dropdown select {
        padding-right: 40px;
	}
	label.dropdown:before { right: 6px; }
	label.dropdown:after {
		text-indent: 14px;
		right: 6px;
		top: -5px;
		width: 36px;
	}
}*/

@media only screen and (max-width : 768px) {
    .toggleView {
        padding: 0 10px;
    }

    .toggleViewIcn {
        margin-right: 8px;
    }

    .detail-tile:nth-child(1) {
        padding: 0 15px;
    }

    #detail-data-view-wrapper {
        padding: 0;
    }

    #tableView {
        margin: auto;
    }
    .data-detail-map-wrapper {
        height:auto;
        max-height:100%;
    }
    label.dropdown select {
        font-size:.6em;
        overflow:hidden;
        max-width:100%;
	}
    label.dropdown:after{
        font-size:.8em;
        top:6px;
        right:1%;
    }
    @-moz-document url-prefix() {
        label.dropdown:after {
            top: 0px !important;
        }
    }
}