<div id="indicator-detail-wrapper" (click)="onBlurExplorePage($event);">
    <div class="row">
        <div class="col-xs-12">
            <div class="find_header row">
                <div class="col-xs-12" (click)="toggleCommunitiesWrapper()">
                    <header class="find_header_content">
                        <div class="back-btn" (click)="goBack($event);">Back</div>
                        <div *ngIf="!isMobile" class="title">Change Community Selection</div>
                        <div class="toggle-communities">
                            <div [ngClass]="getClass()" aria-hidden="true"></div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!visible" class="row">
        <div class="col-xs-12 data-detail-map-wrapper">
            <places-map-select [selectedPlaceType]="selectedPlaceType" [viewType]="'indicatorDetail'" [selectedPlaces]="urlPlaces" ></places-map-select>
        </div>
    </div>
    <div class="row">
        <search [viewType]="'explore'" [filterType]="'Indicator'" class="col-lg-12 col-md-12 col-xs-12" (selSearchResultEvt)="selectedSearchResult = onSelectedSearchResult($event)"></search>
    </div>

    <div class="row" id="toggleViewRow">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="row">
                <div *ngIf="!isStatewide && !isCustomChart" class="col-xs-4 toggleView" (click)="setToggleView('map')">
                    <span class="toggleViewIcn" [ngClass]="showMap ? 'viewSelected' : ''"></span>
                    <span [innerHTML]="isMobile ? 'Map' : 'Map View'"></span>
                </div>
                <div class="col-xs-4 toggleView" (click)="setToggleView('graph')">
                    <span class="toggleViewIcn" [ngClass]="showGraph ? 'viewSelected' : ''"></span><span [innerHTML]="isMobile ? 'Graph' : 'Graph View'"></span>
                </div>
                <div class="col-xs-4 toggleView" (click)="setToggleView('table')">
                    <span class="toggleViewIcn" [ngClass]="showTable ? 'viewSelected' : ''"></span>
                    <span [innerHTML]="isMobile ? 'Table' : 'Table View'"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 hidden-sm hidden-xs">
            <div id="data-detail-help" (click)="showToolTips()"><span class="fa fa-question"></span></div>
        </div>
    </div>
    <div id="detail-data-view-wrapper" class="row">
        <div class="col-xs-12">
            <div class="row">
                <div id="indicator-title-wrapper" class="col-lg-10 col-md-10 col-xs-10">
                    <div>
                        <h2 [innerHTML]="indicatorTitle">
                            <!--<span *ngIf="isTOP" class="collectionIcon">
                             <img src="assets/img/top_icon.svg" alt="Tracking Oregon's Progress Indicator" title="This indicator is part of the Tracking Oregon's Progress Collection" />
                            </span>-->
                        </h2>

                    </div>
                    <div class="subtitle">
                        &nbsp;
                        <span>{{subTitle !== '' ? '('+subTitle+')' : '&nbsp;'}}</span>
                        <span *ngIf="isStatewide || isCountyLevel" class="data-flag"><span class="glyphicon glyphicon-flag"></span>
                            {{isStatewide ? isMobile ? 'Statewide data' : ' Data only available Statewide ' : isCountyLevel ? isMobile ? 'County level data' : ' Data only available at the County level ' : ''}}
                        </span>
                    </div>

                </div>
                <div class="col-lg-2 col-md-2 col-xs-2">
                    <div id="share-btns">
                        <div *ngIf="!isMobile" title="Download data"><img src="assets/img/icn-download.svg" alt="download data" /></div>
                        <div *ngIf="!isMobile" title="Print a report"><img src="assets/img/icn-print.svg" alt="print" /></div>
                        <div title="Share with others on social media or with links"><img src="assets/img/icn-share.svg" alt="share" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="!isStatewide && !isCustomChart" [ngClass]="!showGraph ? 'col-xs-12': 'col-lg-6 col-md-6 col-xs-12'">
                    <div #mapView class="detail-tile map-chart" [hidden]="!showMap">
                        <!--MAP VIEW-->
                        <data-tile [indicator]="inputIndicator" (onSelectedYearChange)="onSelectedYearChange($event)" [tileType]="'map'" [viewType]="'advanced'"></data-tile>
                    </div>
                </div>
                <div [ngClass]="!showMap || isStatewide || isCustomChart ? 'col-xs-12': 'col-lg-6 col-md-6 col-xs-12'">
                    <div #graphView class="detail-tile" [hidden]="!showGraph">
                        <!--GRAPH VIEW-->
                        <data-tile [indicator]="inputIndicator" [tileType]="'graph'" class="" [_selectedYear]="selectedYear" (onChartDataUpdate)="chartData = onChartDataUpdate($event)" [viewType]="'advanced'"></data-tile>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="tableView" #tableView [hidden]="!showTable">
                        <!--TABLE VIEW-->
                        <table-view [chartData]="_chartData"></table-view>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="indicator-info" [ngClass]="indInfo" class="col-lg-5 col-md-6 col-xs-12 arrow_box">
                    <div class="row">
                    <span class="col-xs-4" [ngClass]="{'selected':indInfo === 'desc'}" (click)="indInfo = 'desc';">Description</span>
                    <span class="col-xs-4"  [ngClass]="{'selected':indInfo === 'src'}" (click)="indInfo = 'src';">Source</span>
                    <span class="col-xs-4"  [ngClass]="{'selected':indInfo === 'other'}" (click)="indInfo = 'other';">How to cite</span>
                    </div>
                </div>
                <div class="col-xs-12" id="indicator-info-content">
                    <div *ngIf="indInfo === 'desc'">
                        <div *ngFor="let id of indicatorDesc">
                            <div *ngIf="id.Description_v4 !== null">
                                <span>Description:</span>
                                <span [innerHTML]="id.Description_v4"></span>
                            </div>
                            <div *ngIf="id.Description_v4 === null">
                                <span>No description information currently available.</span>
                            </div>
                            <div *ngIf="id.Formula !== null">
                                <span>Formula:</span>
                                <span [innerHTML]="id.Formula"></span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="indInfo === 'src'">
                        <div *ngFor="let id of indicatorDesc">
                            <span *ngIf="id.Source !== null" [innerHTML]="id.Source">
                            </span>
                            <span *ngIf="id.Source === null">Not available</span>
                        </div>
                    </div>
                    <!--<div *ngIf="indInfo === 'other'">
                        <div *ngFor="let id of indicatorDesc">
                            <span *ngIf="id.Other !== null" [innerHTML]="id.Other">
                            </span>
                            <span *ngIf="id.Other === null">n/a</span>
                        </div>
                    </div>-->
                    <div *ngIf="indInfo === 'other'">
                        <p>Accessed from the Communities Reporter Tool on {{dateAccessed}}</p>
                        <p>Url: {{pageUrl}}</p>
                        <div *ngFor="let id of indicatorDesc">
                            <span>Data source: </span>
                            <span *ngIf="id.Source !== null" [innerHTML]="id.Source">
                            </span>
                            <span *ngIf="id.Source === null">Not available</span>
                        </div>
                        <br />
                        <p><i>The Communities Reporter Tool is a collaboration of Oregon State University (Rural Studies Program and the Oregon Explorer), the Ford Family Foundation (which serves rural Oregon and Siskiyou County, CA), and the Oregon Community Foundation. Partners include the Oregon Department of Administrative Services. </i></p>
                    </div>
                </div>
                <!--<div *ngIf="relatedIndicators.length > 0">
                    <div id="related-indicators-wrapper" class="row">
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Related Indicators</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12 data-tile-grid" *ngFor="let indicator of relatedIndicators">
                            <data-tile #dataTile [indicator]="indicator.related_indicators" [tileType]="'graph'" [viewType]="'basic'" [related]="true"></data-tile>
                        </div>
                    </div>
                </div>
                <div *ngIf="relatedIndicators.length === 0" id="no-rel-ind-buffer" class="col-xs-12">
                    &nbsp;
                </div>
            </div>-->
        </div>
    </div>
</div>
