<div id="topics-row-wrapper">
    <div class="row pull-right">
        <div class="col-lg-2 col-md-0 col-xs-0">
            &nbsp;
        </div>
        <div class="col-lg-10 col-md-12 col-xs-12">
            <div class="find_header row">
                <div class="col-xs-12">
                    <header class="">
                        <div class="title"><h2 class="h2-light">Topics</h2></div>
                        <div class="explore-more">
                            <div class="header_link" (click)="gotoTopic('all');">Explore more topics </div>
                            <div class="glyphicon glyphicon-menu-right" aria-hidden="true"></div>
                            <div class="clearfix"></div>
                        </div>
                    </header>
                </div>
            </div>
            <div id="topics-wrapper" class="row">
                <div id="topic-col-list">
                    <div class="topic-listing" [ngClass]="i<4?'firstCol':'secondCol'"  *ngFor="let item of Topics | topicCountPipe; let i=index" (click)="gotoTopic(item);">
                        <div>
                            <span><img src="assets/img/{{item.icon}}" /></span>
                            <span>
                                {{item.topic}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>