#map-menu-wrapper {
    position: relative;
}

.hamburger-menu {
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url('assets/img/icn-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #E7E7EB;
    background-color: #ffffff;
    border-radius: 4px;
}

    .hamburger-menu:hover {
        background-color: #F3F3F6;
    }

    .hamburger-menu.selected {
        background-color: #F3F3F6;
    }

#map-menu {
    position: absolute;
    top: -10px;
    left: 50px;
    width: 135px;
    height: 165px;
    /*box-shadow: 0 2px 5px 0rgba(0,0,0,0.30);
    border-radius: 4px;*/
    z-index: 10;
    /*background-color: #ffffff;
    border: solid 1px #808080;*/
    font-size: .8em;
    /*padding: 10px;*/
}

.arrow_box {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #D1CDC7;
    box-shadow:rgba(0,0,0,0.3)  0 2px 5px 0;
    border-radius:4px;
    padding:10px;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #D1CDC7;
	border-width: 11px;
	margin-top: -11px;
}

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;    
}

[type="radio"] + span {
    display: block;
    font-weight:lighter;
    color:#C34500;
}

    /* the basic, unchecked style */
    [type="radio"] + span:before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: -0.25em;
        border-radius: 1em;
        border: 0.125em solid #fff;
        box-shadow: 0 0 0 0.15em #D1CDC7;
        margin-right: 0.75em;
        -moz-transition: 0.5s ease all;
        -o-transition: 0.5s ease all;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
    background: #C34500;
    box-shadow: 0 0 0 0.25em #D1CDC7;
}

    [type="radio"]:checked + span {
        color:#6F7C82;
    }

/* never forget focus styling */
[type="radio"]:focus + span:after {
    content: '\0020\2190';
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
}

.map-view-title{
    font-weight:bold;
    border-bottom:1px solid #D1CDC7;
    padding-bottom:2px;
    margin-bottom:2px;
}