<div id="places-row-wrapper">
    <div class="row">
        <div class="col-xs-12 place-col">
            <div class="find_header row row-centered">
                <div class="col-xs-12 col-centered">
                    <header>
                        <div class="title">
                            <h2 class="h2-light compact">Community Selection</h2>
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <div class="col-xs-12 place-col">
            <div id="places-wrapper" class="row">
                <div class="row" id="place_type_select">
                    <div class="col-md-4 place_type" (click)="toggleSelection('Oregon')" [ngClass]="selectedPlaceTypes.indexOf('Oregon') !== -1 ? 'selected' : ''">
                        <img *ngIf="selectedPlaceTypes.indexOf('Oregon') !== -1" src="assets/img/icn-ore-light.svg" />
                        <img *ngIf="selectedPlaceTypes.indexOf('Oregon') === -1" src="assets/img/icn-ore.svg" />
                        Oregon (Statewide)
                    </div>
                    <div class="col-md-4 col-md-push-4 place_type" (click)="toggleSelection('California')" [ngClass]="selectedPlaceTypes.indexOf('California') !== -1 ? 'selected' : ''">
                        <img *ngIf="selectedPlaceTypes.indexOf('California') !== -1" src="assets/img/icn-cal-light.svg" />
                        <img *ngIf="selectedPlaceTypes.indexOf('California') === -1" src="assets/img/icn-cal.svg" />
                        California (Statewide)
                    </div>
                    <div class="col-md-4 col-md-pull-4 place_type" (click)="toggleSelection('CountiesCitiesTracts')" [ngClass]="selPlacesNotStatewide.length > 0 || expanded.toString() === 'true' ? 'selected' : ''">
                        <img *ngIf="expanded.toString() === 'true' || selPlacesNotStatewide.length > 0" src="assets/img/icn-layers-light.svg" />
                        <img *ngIf="selPlacesNotStatewide.length === 0 && expanded.toString() === 'false'" src="assets/img/icn-layers.svg" />Counties, Cities, Census Tracts
                        <div class="toggle-places">
                            <div [ngClass]="expanded.toString() === 'true' ?  'glyphicon glyphicon-menu-up' : 'glyphicon glyphicon-menu-down'" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>
                <div class="row place-select" [hidden]="expanded.toString() === 'false'">
                    <places-map-select [selectedPlaceType]="selectedPlaceType" [viewType]="'explore'" [selectedPlaces]="urlPlaces" (selPlacesEvt)="onSelPlaces($event)"></places-map-select>
                </div>
            </div>
        </div>
    </div>
</div>


