<div id="data-row-wrapper" (window:resize)="onResize($event)" infinite-scroll
     [infiniteScrollDistance]="scrollDownDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScrollDown()"
     (scrolledUp)="onScrollUp()">
    <!--<div class="row">
        <div class="col-xs-12">
            <div id="collection-filter">
                <span>Filter by Collection(s):</span>
                <span *ngFor="let collection of collections; let i = index">
                    <label attr.for={{i}} (click)="toggleCollection(collection);">
                        <input name="collections" type="radio" [checked]="collection.selected" id="{{i}}" />
                        <img *ngIf="collection.icon_path" [src]="collection.icon_path" /> {{collection.collection}}
                    </label>
                </span>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-xs-12 place-col">
            <div id="data-control-bar">
                <div id="share-btns">
                    <div title="Download data"><img src="assets/img/icn-download.svg" alt="download data" /></div>
                    <div title="Print a report"><img src="assets/img/icn-print.svg" alt="print" /></div>
                    <div title="Share with others on social media or with links"><img src="assets/img/icn-share.svg" alt="share" /></div>
                </div>
                <!--<div id="map-graph-toggle" (click)="toggleResultView()">
                    <div [ngClass]="resultView === 'graph' ? 'selected' : ''">Graph View</div>
                    <div [ngClass]="resultView === 'map' ? 'selected' : ''">Map View</div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row" *ngIf="hideAll.toString() !== 'true'">
        <div class="col-xs-12" *ngFor="let topic of SelectedTopics | SelectedTopicsPipe:collections:topicIndicatorCount; let idx = index">
            <!--<div *ngIf="showTopic(topic, idx)">-->
            <div *ngIf="idx <= showTopicMax && topicIndicatorCount[topic.topic] && topicIndicatorCount[topic.topic][selectedCollection].maxCount > 0">
                    <div class="row">
                        <div class="col-xs-12">
                            <indicators-by-topic-list #indicatorList [inputIndicators]="inputIndicators" [inputTopics]="[topic]" [inputCollections]="collections" (filteredIndicatorsFromComp)="onFilterIndicator($event)"></indicators-by-topic-list>
                            <div class="back-to-top" *ngIf="idx > 0" (click)="scrollToTop()"><span class="glyphicon glyphicon-arrow-up"></span><span>&nbsp;Back to Top</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngFor="let indicator of inputIndicators | indicatorTopicFilterPipe:topic:collections:true; let idx = index">
                            <div class="col-xs-12 back-to-top-scroll" *ngIf="idx < topicIndicatorCount[topic.topic][selectedCollection].showCount && idx !== 0 && idx % showScrollUpCount === 0" (click)="scrollToTop()"><span class="glyphicon glyphicon-arrow-up"></span><span>&nbsp;Back to Top</span></div>
                            <div class="col-lg-4 col-md-6 col-xs-12 data-tile-grid">
                                <data-tile *ngIf="idx < topicIndicatorCount[topic.topic][selectedCollection].showCount" #dataTile [indicator]="indicator.indicator" [tileType]="'graph'" [viewType]="'basic'"></data-tile>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <div class="back-to-top-from-bottom" (click)="scrollToTop()"><span class="glyphicon glyphicon-arrow-up"></span><span>&nbsp;Back to Top</span></div>
    </div>
    <div *ngIf="hideAll.toString() === 'true'" class="no-indicators-selected">
        Please select a topic and indicators to display.
    </div>
</div>