#data-row-wrapper {
    padding-right: 0;
    padding-left: 0;
    margin-top: 40px;
    max-width: 1170px;
    margin: 40px auto;
    border-top: solid 1.25px #D1CDC7;
}

#data-control-bar {
    position: absolute;
    top: 27px;
    right: 15px;
    z-index: 2000;
    height: 50px;
}

    #data-control-bar div {
        display: inline-block;
    }

#share-btns div {
    margin-left: 6px;
    border: solid 1px #D1CDC7;
    border-radius: 4px;
    background-color: #F3F2ED;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 2px;
}

#map-graph-toggle {
    margin-left: 20px;
}

    #map-graph-toggle div {
        border: solid 1px #D1CDC7;
        border-radius: 4px;
        background-color: #F3F2ED;
        text-align: center;
        padding: 4px 12px;
        font-weight: bold;
        color: #D1CDC7;
        height: 30px;
    }

        #map-graph-toggle div:nth-child(1) {
            border-radius: 4px 0 0 4px;
            margin-right: -3px;
        }

        #map-graph-toggle div:nth-child(2) {
            border-radius: 0 4px 4px 0;
        }

        #map-graph-toggle div:hover {
            cursor: pointer;
        }

        #map-graph-toggle div.selected {
            background-color: #D1CDC7;
            color: white;
        }

.data-tile-grid {
    padding: 30px;
}

.back-to-top-from-bottom {
    text-align: center;
    color: #C34500;
}
.back-to-top-scroll{
    color:#808080;
    text-align:center;
    margin:-15px;
}

.back-to-top {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #C34500;
}

    .back-to-top:hover, .back-to-top-from-bottom:hover, .back-to-top-scroll:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.no-indicators-selected {
    text-align:center;
    font-size:20px;
    color:#808080;
    font-style:italic;
    font-weight:bold;
}

@media (max-width :  1200px) {
    #data-row-wrapper{
        padding: 0 15px;
    }
}