/*All screens sizes*/
#main_content {    
    background-color: white;
    height: 100%;    
    padding:0;
}

home, explore, about, collections {
    background-color: #F6F6F5;
}

search {
    text-align:center;
}

.page_wrapper {
    background-color: #F6F6F5;
    padding:0;
    margin:4px 0 0 0;   
}

home .page_wrapper{
    margin:0;
}
        

.row-centered{
    text-align:center;
}

.col-centered{
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.navbar-toggle.collapsed .icon-bar {
    background-color: #AEB2BD;
    height: 3px;
}

.navbar-toggle.collapsed {
    border: 1px solid #AEB2BD;    
}

.crt-nav {
    padding: 15px 15px 0 0;
    margin-bottom: 15px;
}

a.a-nav {
    font-weight: bolder;
    margin-right: 20px;
    font-size: .9em !important;
    color: #292E31 !important;
    font-family: AvenirLTCom-Book, AvenirLTStd-Book, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

a.a-nav.router-link-active{
    background-color:none !important;
    text-decoration:underline !important;
    color: rgba(41,46,49,.50) !important;
}
a.a-nav:hover{
    background-color:none !important;
    text-decoration:underline !important;
    color: rgba(41,46,49,.50) !important;
}

#banner-nav-wrapper {
    margin:0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);    
}

.crt-logo {
        padding: 15px 0 15px 20px;
    }

        .crt-logo img {
            margin-top: 0;
        }



.footer {
    vertical-align: middle;   
    margin: 0 auto;
    background-color: #EEECE5;
    color: #C34500;
}

    .footer div {
        height: 90px;
        padding: 35px 0;
        font-size: 12px;
        color: #6F7C82;
        line-height: 20px;
    }


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
   
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .col-xs-0 {
        display:none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .page_wrapper {
        max-width: 1199px;       
    }
    .col-md-0 {
        display:none;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    #main_content {
        max-width: 1440px;
        margin: -20px auto 0 auto;
    }

    .col-md-0, .col-xs-0 {
        display:inline;
    }

    .footer {
        max-width: 1440px;
        margin: 0 auto;
    }

        .footer div:nth-of-type(2) {
            text-align: right;
        }

    .page_wrapper {
        max-width: 1440px;       
    }

    #banner-nav-wrapper {
        /*padding: 16px 0 14px 0;
        text-align: right;
        width: 100%;
        margin-bottom: -35px !important;*/
    }

    .crt-logo {
        padding: 16px 0 14px 135px;
    }


        .crt-logo img {
            padding-top: 16px;
        }

    .crt-nav {    
        padding-top:31px;
        padding-right:115px;
    }

    /*a.a-nav {
        font-weight: bolder;
        padding-right: 20px;
        font-size: .9em !important;
        color: #292E31;
        font-family: AvenirLTCom-Book, AvenirLTStd-Book, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    }*/
}

