#howto-wrapper {
   height: 100%;
   max-width:1170px;
   margin:auto;
}

.howto-indent {
    margin-left:50px;
}

#ul-faq li{
    color:#C34500;
}
    #ul-faq li:hover {
         text-decoration:underline;
         cursor:pointer;
    }

.FAQ_Answer {
    margin-left:50px;
}

@media (max-width:500px) {
    iframe{
        width:250px;
    }
}