#featured-data-wrapper {
    margin: 63px auto;
    max-width: 1170px;
    padding-top: 15px;
    border-top: solid 1px #D1CDC7;
}

#featured-data {
    margin-left:-15px;
}

.data-tile-grid {
    padding: 30px;
}

@media (max-width:1200px) {
    #featured-data {
        margin-left: 0;
    }
}

@media only screen and (max-width : 768px) {
    #featured-data-wrapper {
        padding:0;
        margin:0 auto;
    }
    .data-tile-grid{
        padding:0 15px 25px 15px;
    }
}