/*find section shared component styles*/

/*topics {
    float: right;
    margin-top: 60px;

}*/

/*places {
    float: left;
    margin-top: 60px;
}*/


#find-topic-place-wrapper {
    background-image: url('assets/img/banner_image.png');
    background-repeat: no-repeat;
}


#banner-tag-launch-wrapper {
    margin-top: 35px;
    text-align: center;
    width: 100%;
}

    #banner-tag-launch-wrapper h1 {
        color: white !important;
    }

#launch-help-wrapper {
    /*margin-top: 25px;*/
    margin-bottom:-15px;
}

.home-btns {
    border-radius: 4px;
    font-family:  AvenirLTCom-Book, AvenirLTStd-Book, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: white;
    font-weight: bold;
    line-height: 20px;
    width: 170px;
    height: 50px;
    font-size: .9em;
    padding-top: 13px;
}

#start-exploring {
    float: right;
    background: #c34500;
    margin-right:-7px;
}

    #start-exploring div {
        display: inline-block;
        vertical-align: middle;
    }

    #start-exploring:hover {
        background: #802E01;
        cursor: pointer;
    }

        #start-exploring:hover div.button-text {
            text-decoration: underline;
        }

#how-to-use {
    float: left;
    border: 1px solid #FFFFFF;
    border: 1px solid #802E01;
    color: #802E01;
    margin-left: -7px;
    background: rgba(255, 255, 255, 0.50);
}

    #how-to-use:hover {
        border: 1px solid #802E01;
        color: #802E01;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.50);
    }

        #how-to-use:hover span {
            text-decoration: underline;
        }

topics h2, places h2{
    color:white !important;
}

search {
    margin-top:-26px;
    margin-bottom:-20px;
}
