<div>
    <table id="tableData" cellpadding="10" cellspacing="10">
        <template [ngIf]="!isCustomTable && !isTextDataTable">
            <tr>
                <td></td>
                <td class="theading" align="center" *ngFor="let data of tableData">{{data.community ? data.community : data.Name}}</td>
            </tr>
            <tr *ngFor="let year of tableYears | TableDataFilterPipe : tableData">
                <td align="center" class="tableYear">{{year.Year}}</td>
                <td align="center" *ngFor="let data of tableData">
                    <span class="dataVal">{{data[year.Year]}}</span>
                    <div *ngIf="data[year.Year+'_MOE']">
                        <span class="dataValMoe">(+/- {{data[year.Year+'_MOE']}})</span>
                    </div>
                </td>
            </tr>
        </template>
        <template [ngIf]="isCustomTable">
            <tr>
                <td></td>
                <td class="theading" align="center">{{customPlace.Name + ' ('+customYear+')'}}</td>
            </tr>
            <tr *ngFor="let td of tableData">
                <td align="left" class="tableYear">{{td.category}}</td>
                <td align="center">
                    <span class="dataVal">{{td.data}}</span>
                    <div *ngIf="customYear.indexOf('-') !== -1 && showMoes && td.data_moe !== ''">
                        <span class="dataValMoe">(+/- {{td.data_moe}})</span>
                    </div>
                </td>
            </tr>
        </template>
        <template [ngIf]="isTextDataTable && tableData.length > 0">
            <tr>
                <td></td>
                <td class="theading" align="center" *ngFor="let place of selectedPlaces">{{place.name}}</td>
            </tr>
            <tr>
                <td *ngFor="let td of tableData;  let i = index" align="center" [ngClass]="i === 0 ? 'tableYear' : ''">{{td}}</td>
            </tr>
        </template>
        <template [ngIf]="isTextDataTable && tableData.length === 0">
            <tr>
                <td class="no-place-warning"><span class="glyphicon glyphicon-alert"></span>Please select a place of interest on map to see table data.</td>
            </tr>
        </template>
    </table>
    <div *ngIf="hasDataSuppressed" class="data-suppressed">// Data suppressed; <a href="mailto:vince.adams@oregonstate.edu?cc=virtualoregon.support@oregonstate.edu&subject=Communities Reporter Tool Data Suppression">Contact us</a> for information.</div>
</div>