#tableData{
    width:100%;
    border:none;
    padding:20px;
    background-color:#E9E9E6;
    border-radius:4px;
    box-shadow: rgba(0,0,0,0.3) 0 2px 5px 0;
    overflow-x:auto;
}


    #tableData td {
        height:60px;
        vertical-align:middle;
        }


    #tableData tr{
        border-bottom:solid 1px rgba(128, 128, 128, 0.50);
    }

        #tableData tr td:first-child {
            /*padding-left:5%;*/
        }

    .dataVal{
        font-size:.9em;
    }
    .dataValMoe{
        font-size:.7em;
        color:#413c3c;
        display:block;
    }

.tableYear {
    font-weight: bold;
    max-width: 20px;
    border-right: solid 1px rgba(128, 128, 128, 0.50);
    padding:2px 5px 10px ;
}

    #tableData .theading{
    font-weight:bold;
}

    .data-suppressed{
        float:right;
        font-size:.8em;
        color:#413c3c;
        padding:5px 0;
        font-style:italic;
    }
        .data-suppressed a {
            font-size:1em !important;
        }

.no-place-warning {
   padding-left:50px;
   font-style:italic;
   color:rgba(195, 69, 0, 0.67);
}
.no-place-warning span{
    margin-right:10px;
}

@media only screen and (max-width : 768px) {
    .tableYear {
        max-width:none;
    }
}