<div>
    <table id="tableData" cellpadding="10" cellspacing="10">
        <template [ngIf]="!isCustomTable">
            <tr>
                <td></td>
                <td class="theading" align="center" *ngFor="let data of tableData">{{data.community}}</td>
            </tr>
            <tr *ngFor="let year of tableYears | TableDataFilterPipe : tableData">
                <td align="center" class="tableYear">{{year.Year}}</td>
                <td align="center" *ngFor="let data of tableData">
                    <span class="dataVal">{{data[year.Year]}}</span>
                    <div *ngIf="data[year.Year+'_MOE']">
                        <span class="dataValMoe">(+/- {{data[year.Year+'_MOE']}})</span>
                    </div>
                </td>
            </tr>
        </template>
        <template [ngIf]="isCustomTable">
            <tr>
                <td></td>
                <td class="theading" align="center">{{customPlace.Name + ' ('+customYear+')'}}</td>
            </tr>
            <tr *ngFor="let td of tableData">
                <td align="left" class="tableYear">{{td.category}}</td>
                <td align="center">
                    <span class="dataVal">{{td.data}}</span>
                    <div *ngIf="customYear.indexOf('-') !== -1 && showMoes && td.data_moe !== ''">
                        <span class="dataValMoe">(+/- {{td.data_moe}})</span>
                    </div>
                </td>
            </tr>
        </template>
    </table>
</div>