<div id="places-row-wrapper">
    <div class="row">
        <div class="col-xs-12 place-col">
            <div class="find_header row row-centered">
                <div class="col-xs-12 col-centered">
                    <header>
                        <div class="title">
                            <h2 class="h2-light">Places</h2>
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <div class="col-xs-12 place-col">
            <div id="places-wrapper" class="row">
                <div class="row" id="place_type_select">
                    <div class="col-md-4 place_type" (click)="selectedPlaceType = 'Oregon'" [ngClass]="selectedPlaceType === 'Oregon' ? 'selected' : ''">
                        <img *ngIf="selectedPlaceType === 'Oregon'" src="assets/img/icn-ore-light.svg" />
                        <img *ngIf="selectedPlaceType !== 'Oregon'" src="assets/img/icn-ore.svg" />
                        Oregon (Statewide)
                    </div>
                    <div class="col-md-4 col-md-push-4 place_type" (click)="selectedPlaceType = 'California'" [ngClass]="selectedPlaceType === 'California' ? 'selected' : '' ">
                        <img *ngIf="selectedPlaceType === 'California'" src="assets/img/icn-cal-light.svg" />
                        <img *ngIf="selectedPlaceType !== 'California'" src="assets/img/icn-cal.svg" />
                        California (Statewide)
                    </div>
                    <div class="col-md-4 col-md-pull-4 place_type" (click)="selectedPlaceType = 'CountiesCitiesTracts'" [ngClass]="selectedPlaceType === 'CountiesCitiesTracts' ? 'selected' : ''">
                        <img *ngIf="selectedPlaceType === 'CountiesCitiesTracts'" src="assets/img/icn-layers-light.svg" />
                        <img *ngIf="selectedPlaceType !== 'CountiesCitiesTracts'" src="assets/img/icn-layers.svg" />Counties, Cities, Census Tracts
                        <div class="toggle-places">
                            <div [ngClass]="getClass()" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>
                <div class="row place-select" [hidden]="selectedPlaceType !== 'CountiesCitiesTracts'">
                    <div class="col-lg-7 col-md-7 col-xs-12">
                        <div class="row row-map">
                            <div class="col-xs-12">
                                <div id="viewDiv"></div>
                            </div>
                        </div>
                    </div>
                    <div id="find-compare-combine" class="col-lg-5 col-md-5 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Find, Compare and Combine Places</h2>
                                <p>
                                    Select places by clicking the map or typing below.
                                    Drag one place onto another to combine selected places.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-xs-12" id="search-bin">
                                <div class="row">
                                    <div id="search" class="col-lg-12 col-md-12 col-xs-12">
                                        <span class="fa fa-search"></span>
                                        <input [(ngModel)]="searchTerms" #searchInput type="text" [(ngFormControl)]="term" placeholder="Type in a place name." (click)="inputSearchClickHandler($event, result);" (blur)="blurHandler($event);" (keypress)="inputKeypressHandler($event, result);" />
                                        <div id="add-btn">+</div>
                                        <div *ngIf="searchTerms" class="list-group">
                                            <a *ngFor="#result of searchResults | async" href="javascript:void(0);" class="list-group-item" [attr.data-search-item]="result | json" (keypress)="inputKeypressHandler($event, result)" (click)="clickedSearchResult($event, result)">
                                                <div class="search-result-wrapper">
                                                    <!--<div class="isPlace search-result-type">
                                                        {{result.Type}}
                                                    </div>-->
                                                    <div class="search-result-content">
                                                        <div class="search-result-name">
                                                            <span>{{result.Name}}</span>
                                                            <span *ngIf="result.TypeCategory" class="typeCategory">({{result.TypeCategory}})</span>
                                                        </div>
                                                        <div *ngIf="result.Desc" class="search-result-desc">
                                                            {{result.Desc}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="selected-places-bin" class="col-lg-12 col-md-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-xs-12 place-bin-wrapper" *ngFor="#place of selectedSearchResults">
                                                <div class="place-bin">{{place.Name}}<span (click)="removePlace(place)"><img src="assets/img/closeX2.png" alt="remove selected place" /></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="place-btn-col" class="col-lg-2 col-md-2 col-xs-12">
                                <div class="row">
                                    <div (click)="addPlaceCompare('Rural')" class="add-place-btn col-xs-4 col-md-12">Rural<span>+</span></div>
                                    <div (click)="addPlaceCompare('Urban')" class="add-place-btn col-xs-4 col-md-12">Urban<span>+</span></div>
                                    <div id="go-report-button" class="col-xs-4 col-md-12"> Go </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


