<div id="places-row-wrapper">
    <div class="row">
        <div class="col-xs-12 place-col">
            <div class="find_header row row-centered">
                <div class="col-xs-12 col-centered">
                    <header>
                        <div class="title">
                            <h2 class="h2-light">Places</h2>
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <div class="col-xs-12 place-col">
            <div id="places-wrapper" class="row">
                <div class="row" id="place_type_select">
                    <div class="col-md-4 place_type" (click)="selectedPlaceType = 'Oregon'" [ngClass]="selectedPlaceType === 'Oregon' ? 'selected' : ''">
                        <img *ngIf="selectedPlaceType === 'Oregon'" src="assets/img/icn-ore-light.svg" />
                        <img *ngIf="selectedPlaceType !== 'Oregon'" src="assets/img/icn-ore.svg" />
                        Oregon (Statewide)
                    </div>
                    <div class="col-md-4 col-md-push-4 place_type" (click)="selectedPlaceType = 'California'" [ngClass]="selectedPlaceType === 'California' ? 'selected' : '' ">
                        <img *ngIf="selectedPlaceType === 'California'" src="assets/img/icn-cal-light.svg" />
                        <img *ngIf="selectedPlaceType !== 'California'" src="assets/img/icn-cal.svg" />
                        California (Statewide)
                    </div>
                    <div class="col-md-4 col-md-pull-4 place_type" (click)="selectedPlaceType = 'CountiesCitiesTracts'" [ngClass]="selectedPlaceType === 'CountiesCitiesTracts' ? 'selected' : ''">
                        <img *ngIf="selectedPlaceType === 'CountiesCitiesTracts'" src="assets/img/icn-layers-light.svg" />
                        <img *ngIf="selectedPlaceType !== 'CountiesCitiesTracts'" src="assets/img/icn-layers.svg" />Counties, Cities, Census Tracts
                        <div class="toggle-places">
                            <div [ngClass]="getClass()" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>
                <div class="row place-select" [hidden]="selectedPlaceType !== 'CountiesCitiesTracts'">
                    <places-map-select [selectedPlaceType]="selectedPlaceType" [viewType]="'explore'"></places-map-select>
                </div>
            </div>
        </div>
    </div>


