<div id="topics-row-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <div class="find_header row row-centered">
                <div class="col-xs-12 col-centered" (click)="toggleTopicsWrapper()">
                    <header class="">
                        <div class="title"><h2 class="h2-light compact">Topic Selection</h2></div>
                        <div class="toggle-topics">
                            <div [ngClass]="getClass()" aria-hidden="true"></div>
                        </div>
                    </header>
                </div>
            </div>
            <div id="topics-wrapper" class="row">
                <div [hidden]="!visible">
                    <div id="topic-col-list">
                        <div id="all-topics" [ngClass]="showAllSelected ? 'selected' : ''" (click)="toggleAllTopics($event)">All Topics</div>
                        <div (click)="toggleTopic(topic)"
                             [ngClass]="topic.selected ? 'selected' : ''"
                             *ngFor="let topic of Topics | SortAlphaTopicPipe:collections">
                            {{topic.topic}}
                        </div>
                    </div>
                    <div>
                        <div class="multiselect row">
                            <div class="col-lg-2 col-md-3 col-xs-12">
                                <div class="selectBox" (click)="chkBoxVisibile = !chkBoxVisibile;">
                                    <div [ngClass]="chkBoxVisibile ? 'open' : ''" class="topic-header-indicator-filter">
                                        <p>Filter Indicators</p>
                                    </div>
                                </div>
                                <div id="checkboxes" [hidden]="!chkBoxVisibile">
                                    <label *ngFor="let indicator of Indicators | indicatorTopicFilterPipe : Topics:collections; let i = index" attr.for={{i}}><input type="checkbox" [checked]="indicator.selected" id="{{i}}" (click)="toggleIndicator(indicator)" />{{indicator.indicator}}</label>
                                </div>
                            </div>
                            <div id="collection-filter" class="col-lg-10 col-md-9 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-xs-12 collection-filter-label">
                                        <span>Filter by Collection:</span>
                                    </div>
                                    <div class="col-lg-10 col-md-9 col-xs-12">
                                        <span *ngFor="let collection of collections; let i = index" class="col-lg-4 col-md-6 col-xs-12">
                                            <label attr.for={{i}} (click)="toggleCollection(collection);">
                                                <input name="collections" type="radio" [checked]="collection.selected" id="{{i}}" />
                                                <img width="20px" *ngIf="collection.icon_path" [src]="collection.icon_path" /> {{collection.collection === 'Show All' ? 'No filter' : collection.collection}}
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="selectedTopicsIndicators" [hidden]="visible">
                    <div *ngIf="showAllSelected">
                        <span>All Topics</span><div class="indicatorCount"><span>{{Indicators | SelectedIndicatorByTopicsCountPipe: 'all':collections}}</span></div>
                    </div>
                    <div *ngIf="!showAllSelected">
                        <div *ngFor="let topic of Topics | SelectedTopicsPipe:collections" (click)="toggleTopic(topic)"><span>{{topic.topic}}</span><div class="indicatorCount">{{Indicators | SelectedIndicatorByTopicsCountPipe: topic:collections}}</div><img src="assets/img/closeX.png" /></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>