<div id="about-wrapper">
    <h2>About</h2>
    <p>
        The Communities Reporter Tool (CRT) grants public access to community data in a flexible online space and in an easy to understand way. From the CRT you can access over 600 demographic, social, economic, and environmental indicators about all of the towns, villages, cities, and counties in Oregon and Siskiyou County, California. The CRT links all of these communities to data gathered at the place, census tract, and county levels by over 30 agencies and institutions.
    </p>
    <!--<p>
        For more information about the data, please refer to the Data Dictionary:
    </p>
    <p><a href="?" target="_blank">Download the Data Dictionary PDF</a></p>-->
    <p>
        The Communities Reporter Tool is a collaboration of Oregon State University, the Ford Family Foundation (which serves rural Oregon and Siskiyou County, CA), and the Oregon Community Foundation. Partners include the Oregon Department of Administrative Services.
    </p>
    <p>
        The previous version of the Communities Reporter Tool that may work better in low bandwidth situations can be found at this url:
    </p>
    <blockquote>
        <a href="http://oe.oregonexplorer.info/rural/crt_classic/">http://oe.oregonexplorer.info/rural/crt_classic</a>
    </blockquote>
    <p>
        For help, please contact the Rural Communities Explorer Outreach Coordinator, Vince Adams, in the Oregon State University, Extension Family & Community Health program:
    </p>
    <blockquote>
        <a href="mailto:vince.adams@oregonstate.edu?cc=virtualoregon.support@oregonstate.edu&subject=Communities Reporter Tool">Vince.adams@oregonstate.edu</a>
        <br />
        <span class="glyphicon glyphicon-phone"></span><span class="crt-phone">541-737-2105</span>
    </blockquote>

</div>