<div>    
    <div class="multiselect">
        <div class="selectBox"  (click)="chkBoxVisibile = !chkBoxVisibile;">
            <div [ngClass]="chkBoxVisibile ? 'open' : ''" class="topic-header-indicator-filter">     
                <h2>{{selTopics[0].topic}}</h2>                
            </div>           
        </div>
        <div #indicatorTopicChkBoxes class="checkboxes" [hidden]="!chkBoxVisibile">
            <label *ngFor="let indicator of inputIndicators | indicatorTopicFilterPipe : selTopics" attr.for="{{indicator.indicator}}"><input type="checkbox" [checked]="indicator.selected" id="{{indicator.indicator}}" (click)="toggleIndicator(indicator)" />{{indicator.indicator}}</label>
        </div>
    </div>    
</div>
