<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%= APP_BASE %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= APP_TITLE %></title>
    <meta name="KEYWORDS" content="community data, tracking oregon's progress, TOP Indicators Oregon, Latinos in Oregon, demographic, oregon, explorer, reporter, oregon community reporter tool" />
    <meta name="DESCRIPTION" content="Indicators for  your community by city, county, and census tract in Oregon and Siskiyou, CA." />
    <meta property="og:url" content="<% if (ENV === 'prod') { %>https://oe.oregonexplorer.info<% } %><%= APP_BASE %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= APP_TITLE %>" />
    <meta property="og:description" content="The Communities Reporter Tool (CRT) grants public access to community data in a flexible online space and in an easy to understand way. From the CRT you can access over 600 demographic, social, economic, and environmental indicators about all of the towns, villages, cities, and counties in Oregon and Siskiyou County, California. The CRT links all of these communities to data gathered at the place, census tract, and county levels by over 30 agencies and institutions." />
    <meta property="og:image" content="<% if (ENV === 'prod') { %>https://oe.oregonexplorer.info<% } %><%= APP_BASE %>assets/img/crt_data_og.png" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no' />
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lato);
    </style>
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Load Leaflet from CDN-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1.0.0-beta.2/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/leaflet/1.0.0-beta.2/leaflet-src.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.2/esri-leaflet.js"></script>
</head>
<body>
    <% if (ENV === 'prod') { %>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-40838930-1', 'auto');
        //ga('send', 'pageview');
    </script>
    <% } %>
    <sd-app><div class="loading"><div>Loading the <br />Communities Reporter Tool...</div></div></sd-app>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        // Fixes undefined module function in SystemJS bundle
        function module() { }
    </script>

    <!-- shims:js -->
    <!-- endinject -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.4.1/es5-shim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.js"></script>-->
    <% if (ENV === 'dev') { %>
    <script>
        System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
    </script>
    <% } %>

    <!-- libs:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <% if (ENV === 'dev') { %>
    <script>
        System.import('<%= BOOTSTRAP_MODULE %>')
          .catch(function (e) {
              console.error(e,
                'Report this error at https://github.com/mgechev/angular2-seed/issues');
          });
    </script>
    <% } %>
</body>
</html>
