<div id="sponsors-wrapper" class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="sponsor-line col-lg-4">
               <!-- <hr />-->
            </div>
            <div class="oe-header col-lg-4">
                <a href="http://oregonexplorer.info" target="_blank"><img alt="Oregon Explorer" height="40" src="assets/img/oe-logo-gray.png" /></a>
            </div>
            <div class="sponsor-line col-lg-4">
                <!-- <hr />-->
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="sponsor-line col-lg-5">
                <hr />
            </div>
            <div class="sponsors-header col-lg-2">
                <span>Sponsors</span>
            </div>
            <div class="sponsor-line col-lg-5">
                <hr />
            </div>
        </div>
    </div>

    <div class="sponsors col-lg-12">
        <div class="sponsor-row">
            <div>
                <a href="http://tfff.org" target="_blank"><img alt="Ford Family" src="assets/img/fordfamily.png" /></a>
            </div>
            <div>
                <a href="http://oregonstate.edu" target="_blank"><img alt="oregon state university" src="assets/img/osu_logo.png" /></a>
            </div>
            <div>
                <img alt="Oregon State University Units" src="assets/img/osu_units.png" />

            </div>
            <div>
                <a href="http://oregonstate.edu/inr" target="_blank"><img width="175" alt="Institute for Natural Resources" src="assets/img/inr-horizontal-logo.png" /></a>
            </div>
            <div>
                <a href="http://oregoncf.org" target="_blank"><img alt="Oregon Community Foundation" src="assets/img/ocf.png" /></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>