<div id="sponsors-wrapper" class="row">
    <div class="sponsor-line col-lg-5">
        <hr />
    </div>
    <div class="sponsors-header col-lg-2">
        Sponsors
    </div>
    <div class="sponsor-line col-lg-5">
        <hr />
    </div>
    <div class="sponsors col-lg-12">
        <div class="sponsor-row">
            <div>
                <a href="http://tfff.org" target="_blank"><img alt="Ford Family" src="assets/img/fordfamily.png" /></a>
            </div>
            <div>
                <a href="http://oregonstate.edu" target="_blank"><img alt="Ford Family" src="assets/img/osu_logo.png" /></a>
            </div>
            <div>
                <img alt="Ford Family" src="assets/img/osu_units.png" />
            </div>
            <div>
                <a href="http://oregonstate.edu/inr" width="60px" target="_blank"><img alt="Ford Family" src="assets/img/nat-res.png" /></a>
            </div>
            <div>
                <a href="http://oregoncf.org" target="_blank"><img alt="Ford Family" src="assets/img/ocf.png" /></a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>